<main>
    <div id="filters">
        <input type="button" value="Filtros" class="btn--primary-main">
        <input type="button" value="Filtros" class="btn--primary-main">
        <input type="button" value="Filtros" class="btn--primary-main">
        <input type="button" value="Filtros" class="btn--primary-main">
    </div>
    <section class="chart-main">
        <h2>Gráfico 1</h2>
        <div class="chart">
            <canvas id="trackFeaturesAvg"></canvas>
        </div>
    </section>
    <section id="chart-list">
        <div class="chart">
            <canvas id="myChart1"></canvas>
        </div>
        <div class="chart">
            <canvas id="artistPopularity"></canvas>
        </div>
        <div class="chart">
            <canvas id="trackPopularity"></canvas>
        </div>
    </section>
</main>
